# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
flower_photos/
inception_dec_2015/
MNIST_data/
.idea/
data/
model/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy

Scikit_Learn/mlcomp/379/
Scikit_Learn/mlcomp/
Scikit_Learn/clustering/
TensorFlow/simple-examples/rnnlm-0.2b/valid
TensorFlow/simple-examples/rnnlm-0.2b/train
TensorFlow/simple-examples/rnnlm-0.2b/test
TensorFlow/simple-examples/rnnlm-0.2b/rnnlmlib.h
TensorFlow/simple-examples/rnnlm-0.2b/rnnlmlib.cpp
TensorFlow/simple-examples/rnnlm-0.2b/rnnlm.cpp
TensorFlow/simple-examples/rnnlm-0.2b/prob.c
TensorFlow/simple-examples/rnnlm-0.2b/makefile
TensorFlow/simple-examples/rnnlm-0.2b/example.sh
TensorFlow/simple-examples/rnnlm-0.2b/example.output
TensorFlow/simple-examples/rnnlm-0.2b/convert.c
TensorFlow/simple-examples/rnnlm-0.2b/FAQ.txt
TensorFlow/simple-examples/rnnlm-0.2b/COPYRIGHT.txt
TensorFlow/simple-examples/models/swb.rnn.model
TensorFlow/simple-examples/models/swb.ngram.model
TensorFlow/simple-examples/models/README
TensorFlow/simple-examples/data/ptb.valid.txt
TensorFlow/simple-examples/data/ptb.train.txt
TensorFlow/simple-examples/data/ptb.test.txt
TensorFlow/simple-examples/data/ptb.char.valid.txt
TensorFlow/simple-examples/data/ptb.char.train.txt
TensorFlow/simple-examples/data/ptb.char.test.txt
TensorFlow/simple-examples/data/README
TensorFlow/simple-examples/9-char-based-lm/train.sh
TensorFlow/simple-examples/9-char-based-lm/test.sh
TensorFlow/simple-examples/9-char-based-lm/README
TensorFlow/simple-examples/8-direct/train.sh
TensorFlow/simple-examples/8-direct/test.sh
TensorFlow/simple-examples/8-direct/README
TensorFlow/simple-examples/7-dynamic-evaluation/train.sh
TensorFlow/simple-examples/7-dynamic-evaluation/test.sh
TensorFlow/simple-examples/7-dynamic-evaluation/README
TensorFlow/simple-examples/6-recovery-during-training/train.sh
TensorFlow/simple-examples/6-recovery-during-training/test.sh
TensorFlow/simple-examples/6-recovery-during-training/README
TensorFlow/simple-examples/5-one-iter/train.sh
TensorFlow/simple-examples/5-one-iter/test.sh
TensorFlow/simple-examples/5-one-iter/README
TensorFlow/simple-examples/4-data-generation/train.sh
TensorFlow/simple-examples/4-data-generation/test.sh
TensorFlow/simple-examples/4-data-generation/README
TensorFlow/simple-examples/3-combination/train.sh
TensorFlow/simple-examples/3-combination/test.sh
TensorFlow/simple-examples/3-combination/README
TensorFlow/simple-examples/2-nbest-rescore/makenbest.c
TensorFlow/simple-examples/2-nbest-rescore/makenbest
TensorFlow/simple-examples/2-nbest-rescore/lattices/nbest.sh
TensorFlow/simple-examples/2-nbest-rescore/lattices/latlist
TensorFlow/simple-examples/2-nbest-rescore/lattices/AMI-3E0501_u3005_128490_129032.lat.gz
TensorFlow/simple-examples/2-nbest-rescore/lattices/AMI-3E0501_u3005_128188_128447.lat.gz
TensorFlow/simple-examples/2-nbest-rescore/lattices/AMI-3E0501_u3005_127865_128175.lat.gz
TensorFlow/simple-examples/2-nbest-rescore/lattices/AMI-3E0501_u3005_127513_127835.lat.gz
TensorFlow/simple-examples/2-nbest-rescore/lattices/AMI-3E0501_u3005_127040_127488.lat.gz
TensorFlow/simple-examples/2-nbest-rescore/gettext.c
TensorFlow/simple-examples/2-nbest-rescore/gettext
TensorFlow/simple-examples/2-nbest-rescore/getbest.c
TensorFlow/simple-examples/2-nbest-rescore/getbest
TensorFlow/simple-examples/2-nbest-rescore/README
TensorFlow/simple-examples/1-train/train.sh
TensorFlow/simple-examples/1-train/test.sh
TensorFlow/simple-examples/1-train/README
TensorFlow/Saved_model/model_1/model.ckpt-800.meta
TensorFlow/Saved_model/model_1/model.ckpt-800.index
TensorFlow/Saved_model/model_1/model.ckpt-800.data-00000-of-00001
TensorFlow/Saved_model/model_1/model.ckpt-0.meta
TensorFlow/Saved_model/model_1/model.ckpt-0.index
TensorFlow/Saved_model/model_1/model.ckpt-0.data-00000-of-00001
TensorFlow/Saved_model/model_1/graph.pbtxt
TensorFlow/Saved_model/model_1/events.out.tfevents.1541488106.CHENXY
TensorFlow/Saved_model/model_1/checkpoint
TensorFlow/Saved_model/imagenet_comp_graph_label_strings.txt
TensorFlow/Saved_model/checkpoint
TensorFlow/Saved_model/LICENSE
